<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("4d90c9c7-87f4-40a8-a16c-3ec468def513");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
